/* General CSS */
body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.fadein {
  opacity: 0;
  margin: 40px;
}
/* General End */

/* Header */
#header {
  display: flex;
  align-items: center;
  height: 500px;
  text-align: center;
  justify-content: center;
}
  #header div {
  }
  #header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6em;
    margin: 0;
  }
  #header hr {
    background: #111;
    border: none;
    border-radius: 2px;
    color: #111;
    height: 2px;
    margin: 20px auto;
    width: 300px;
  }
  #header h3 {
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    margin: 0;
  }
/* Header End */


/* Banner */
.banner {
  background: #111; 
  color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
}
  .banner h1 {
    font-size: 1.6em;
  }
/* Banner End */

/* About */
#about {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  margin: 20px;
  text-align: center;
}
  #about hr {
    background: #111;
    border: none;
    border-radius: 2px;
    color: #111;
    height: 1px;
    margin: 20px auto;
    width: 300px;
  }
  #about p {
    justify-content: center;
    margin: 40px auto;
    width: 1080px;
  }
  
/* About End */


/* Portfolio */
#portfolio {
  display: flex;
}
.project {
  display: flex;
  background-color: #111;
  color: #f1f1f1;
  flex: 1;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  position: relative;
}
  .project-background {
    height: 100%;
    position: absolute;
    transition: 300ms;
    width: 100%;
  }
    .project-background:hover {
      opacity: 0.5;
      transition: 300ms;
    }
  .project-banner {
    background: #111;
    bottom: 5%;
    opacity: 0.95;
    padding: 0;
    position: absolute;
    width: 100%;
  }
    .project-banner h5 {
      font-family: 'Raleway', sans-serif;
      font-size: 1.15em;
      margin: 0;
      padding: 15px;
    }

#showstar {
  background: url(images/club.jpeg) no-repeat center;
  background-size: cover;
}

#brooklyn {
  background: url(images/brooklyn.jpeg) no-repeat center;
  background-size: cover;
}
/* Portfolio End */

/* Projects */
#projects {
  display: flex;
}

#ushare {
  background: url(images/cab.jpeg) no-repeat center;
  background-size: cover;
}

#remoteme {
  background: url(images/map.jpeg) no-repeat center;
  background-size: cover;
}

#bulletjournal {
  background: url(images/journal.jpeg) no-repeat center;
  background-size: cover;
}
/* Projects End */
