/* General CSS */
body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/* General End */

/* Header */
#header {
  display: flex;
  align-items: center;
  height: 400px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  justify-content: center;
}
  #header div {
  }
  #header h1 {
    font-size: 6em;
    margin: 0;
  }
  #header hr {
    background: #111;
    border: none;
    border-radius: 2px;
    color: #111;
    height: 2px;
    margin: 20px auto;
    width: 300px;
  }
  #header h3 {
    font-size: 1.5em;
    margin: 0;
  }
/* Header End */



/* Banner */
.banner {
  background: #111; 
  color: #f1f1f1;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
}
  .banner h1 {
    font-family: 2em;
  }
/* Banner End */

/* Portfolio */
#portfolio {
  display: flex;
}
.portfolio-project {
  display: flex;
  background-color: #111;
  color: #f1f1f1;
  flex: 1;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  position: relative;
}
  .portfolio-background {
    height: 100%;
    position: absolute;
    transition: 300ms;
    width: 100%;
  }
    .portfolio-background:hover {
      opacity: 0.5;
      transition: 300ms;
    }
  .portfolio-banner {
    background: #111;
    bottom: 10%;
    opacity: 0.95;
    padding: 0;
    position: absolute;
    width: 100%;
  }
    .portfolio-banner h5 {
      font-family: 'Raleway', sans-serif;
      font-size: 1.3em;
      margin: 0;
      padding: 15px;
    }

#showstar {
  background: url(../images/newparty.jpeg) no-repeat center;
  background-size: cover;
}

#brooklyn {
  background: url(../images/newbrooklyn.jpeg) no-repeat center;
  background-size: cover;
}
/* Portfolio End */
